<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Digit_Eight</key>
	<string>Digit__Eight_.glif</string>
	<key>Digit_Five</key>
	<string>Digit__Five_.glif</string>
	<key>Digit_Four</key>
	<string>Digit__Four_.glif</string>
	<key>Digit_Nine</key>
	<string>Digit__Nine_.glif</string>
	<key>Digit_One</key>
	<string>Digit__One_.glif</string>
	<key>Digit_Seven</key>
	<string>Digit__Seven_.glif</string>
	<key>Digit_Six</key>
	<string>Digit__Six_.glif</string>
	<key>Digit_Three</key>
	<string>Digit__Three_.glif</string>
	<key>Digit_Two</key>
	<string>Digit__Two_.glif</string>
	<key>Digit_Zero</key>
	<string>Digit__Zero_.glif</string>
	<key>Exclamation_Mark</key>
	<string>Exclamation__Mark_.glif</string>
	<key>Latin_Capital_Letter_A</key>
	<string>Latin__Capital__Letter__A_.glif</string>
	<key>Latin_Capital_Letter_B</key>
	<string>Latin__Capital__Letter__B_.glif</string>
	<key>Latin_Capital_Letter_C</key>
	<string>Latin__Capital__Letter__C_.glif</string>
	<key>Latin_Capital_Letter_D</key>
	<string>Latin__Capital__Letter__D_.glif</string>
	<key>Latin_Capital_Letter_E</key>
	<string>Latin__Capital__Letter__E_.glif</string>
	<key>Latin_Capital_Letter_F</key>
	<string>Latin__Capital__Letter__F_.glif</string>
	<key>Latin_Capital_Letter_G</key>
	<string>Latin__Capital__Letter__G_.glif</string>
	<key>Latin_Capital_Letter_H</key>
	<string>Latin__Capital__Letter__H_.glif</string>
	<key>Latin_Capital_Letter_I</key>
	<string>Latin__Capital__Letter__I_.glif</string>
	<key>Latin_Capital_Letter_J</key>
	<string>Latin__Capital__Letter__J_.glif</string>
	<key>Latin_Capital_Letter_K</key>
	<string>Latin__Capital__Letter__K_.glif</string>
	<key>Latin_Capital_Letter_L</key>
	<string>Latin__Capital__Letter__L_.glif</string>
	<key>Latin_Capital_Letter_M</key>
	<string>Latin__Capital__Letter__M_.glif</string>
	<key>Latin_Capital_Letter_N</key>
	<string>Latin__Capital__Letter__N_.glif</string>
	<key>Latin_Capital_Letter_O</key>
	<string>Latin__Capital__Letter__O_.glif</string>
	<key>Latin_Capital_Letter_P</key>
	<string>Latin__Capital__Letter__P_.glif</string>
	<key>Latin_Capital_Letter_Q</key>
	<string>Latin__Capital__Letter__Q_.glif</string>
	<key>Latin_Capital_Letter_R</key>
	<string>Latin__Capital__Letter__R_.glif</string>
	<key>Latin_Capital_Letter_S</key>
	<string>Latin__Capital__Letter__S_.glif</string>
	<key>Latin_Capital_Letter_T</key>
	<string>Latin__Capital__Letter__T_.glif</string>
	<key>Latin_Capital_Letter_U</key>
	<string>Latin__Capital__Letter__U_.glif</string>
	<key>Latin_Capital_Letter_V</key>
	<string>Latin__Capital__Letter__V_.glif</string>
	<key>Latin_Capital_Letter_W</key>
	<string>Latin__Capital__Letter__W_.glif</string>
	<key>Latin_Capital_Letter_X</key>
	<string>Latin__Capital__Letter__X_.glif</string>
	<key>Latin_Capital_Letter_Y</key>
	<string>Latin__Capital__Letter__Y_.glif</string>
	<key>Latin_Capital_Letter_Z</key>
	<string>Latin__Capital__Letter__Z_.glif</string>
</dict>
</plist>
